.game
    background-color: #999999
    border: 1px solid #bbbbbb
    border-bottom-color: #777777
    border-radius: 4px
    border-right-color: #777777
    margin-left: 8px
    overflow: hidden
    padding: 0 8px
    transition: ease 300ms
    transition-property: background-color, height

    .ui-icon-button
        background-color: transparent
        border: 0
        height: 24px
        width: 24px

    &:hover,
    &--expanded
        background-color: #a8a8a8

    &__head
        align-items: center
        cursor: pointer
        display: flex
        gap: 8px
        height: 32px

    &__title
        align-items: center
        display: flex
        flex-grow: 1
        font-weight: 700
        margin-right: 16px
        min-width: 0

    &__title-text
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    &__title-compilation
        font-size: .8rem
        margin-left: 8px

    &__title-dlc-count
        font-size: .8rem
        font-style: italic
        margin-left: 8px
        opacity: .5

    &__title-skip-count
        border: 1px solid #d34141
        border-left-width: 4px
        border-radius: 4px
        border-right-width: 4px
        font-size: .8rem
        font-weight: 700
        padding: 2px 8px
        margin-left: 8px
        text-transform: uppercase

    &__status
        background-color: #777777
        border-bottom: 1px solid #777777
        border-radius: 2px
        box-shadow: 0 1px 2px rgba(black, .1)
        color: white
        flex: 0 0 96px
        font-weight: 700
        line-height: 20px
        text-align: center
        text-shadow: 1px 1px 2px rgba(black, .2), -1px 1px 2px rgba(black, .2), 1px -1px 2px rgba(black, .2), -1px -1px 2px rgba(black, .2)
        text-transform: uppercase

        &--active
            background-image: repeating-linear-gradient(-45deg, rgba(#93c9ef, .7), rgba(#93c9ef, .7) 4px, rgba(#b2daf7, .7) 4px, rgba(#b2daf7, .7) 8px)

        &--planned
            background-image: repeating-linear-gradient(-45deg, rgba(#ccc296, .7), rgba(#ccc296, .7) 4px, rgba(#e5d5b6, .7) 4px, rgba(#e5d5b6, .7) 8px)

        &--completed
            background-image: repeating-linear-gradient(-45deg, rgba(#8ac375, .7), rgba(#8ac375, .7) 4px, rgba(#b0dc9f, .7) 4px, rgba(#b0dc9f, .7) 8px)

        &--dropped
            background-image: repeating-linear-gradient(-45deg, rgba(#aa7969, .7), rgba(#aa7969, .7) 4px, rgba(#e5b6b6, .7) 4px, rgba(#e5b6b6, .7) 8px)

    &__genre
        display: flex
        flex: 0 0 400px
        overflow-x: auto
        position: relative

        &::-webkit-scrollbar
            display: none

    &__genre-item
        background-color: rgba(255, 255, 255, .2)
        border-radius: 2px
        box-shadow: 0 1px 2px rgba(black, .1)
        font-size: 0.9em
        font-weight: 300
        line-height: 16px
        margin-right: 4px
        padding: 0 8px
        transition: 300ms ease background-color
        white-space: nowrap

    &__genre-item--active,
    &__genre-item:hover
        background-color: rgba(255, 255, 255, .4)

    &__system
        flex: 0 0 104px
        font-size: 0.8em

    &__developer
        flex: 0 0 136px
        font-size: 0.9em

    &__release
        color: #dddddd
        flex: 0 0 48px
        font-weight: 700
        text-align: center

    &__time-to-beat
        color: #333333
        flex: 0 0 48px
        font-weight: 700

    &__body
        padding: 16px 0 8px
        position: relative

    &__info
        display: flex

    &__video,
    &__video-placeholder
        background-image: repeating-linear-gradient(-45deg, #bbbbbb, #bbbbbb 4px, #cccccc 4px, #cccccc 8px)
        border: 1px solid #cccccc
        border-radius: 4px
        height: 225px
        width: 300px

    &__description
        flex-grow: 1
        line-height: 1.3em
        margin-left: 24px

        h2
            border-bottom: 1px solid #777777
            font-weight: 300
            margin-block-start: 0
            padding-bottom: 4px

    &__dlcs-header
        font-weight: bold
        margin-top: 16px

    &__dlc
        align-items: center
        display: flex
        gap: 8px
        height: 24px
