@forward 'app/**/*.sass'
@forward 'common/**/*.sass'
@forward 'ui/**/*.sass'

html
    font-family: "Roboto", sans-serif
    font-size: 13px

body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-color: #4a4a4a
    margin: 0
