.group
    margin-bottom: 24px

    &__header
        align-items: center
        background-image: repeating-linear-gradient(-45deg, rgba(#777777, .7), rgba(#777777, .7) 4px, rgba(#7c7c7c, .7) 4px, rgba(#7c7c7c, .7) 8px)
        border: 1px solid #999999
        border-bottom-color: #555555
        border-radius: 4px
        border-right-color: #555555
        box-sizing: border-box
        color: #222222
        display: flex
        height: 40px
        gap: 16px
        justify-content: space-between
        padding: 0 12px

    &__label
        align-items: center
        display: flex
        font-family: "Boogaloo", sans-serif
        font-size: 1.7em
        gap: 8px

    &__count
        color: #cccccc
        font-weight: 700
