.rating
    align-items: center
    background-color: #777777
    border-radius: 4px
    box-sizing: border-box
    box-shadow: 0 1px 2px rgba(black, .1)
    display: flex
    flex: 0 0 42px
    height: 16px
    justify-content: center
    overflow: hidden
    position: relative
    visibility: hidden

.rating--visible
    visibility: visible

.rating__inner
    background-image: repeating-linear-gradient(-45deg, #bbbbbb, #bbbbbb 4px, #cccccc 4px, #cccccc 8px)
    height: 100%
    left: 0
    position: absolute
    top: 0

.rating__text
    color: #4a4a4a
    font-size: .85em
    font-weight: bold
    position: relative
    text-shadow: 1px 1px 0px rgba(white, .3), -1px 1px 0px rgba(white, .3), 1px -1px 0px rgba(white, .3), -1px -1px 0px rgba(white, .3)
    z-index: 1
