.header
    align-items: center
    color: #cccccc
    display: flex
    justify-content: space-between
    margin-bottom: 24px

    &__label
        font-size: 32px
        font-weight: bold

    &__total
        font-style: italic
        font-weight: bold
