.ui-flag
    img
        border-radius: 2px
        display: block
        height: 20px
        width: 24px

    &__placeholder
        align-items: center
        background-color: #bbb
        border-bottom: 1px solid #777777
        border-radius: 2px
        box-sizing: border-box
        display: flex
        height: 20px
        justify-content: center
        width: 24px
