.ui-select
    height: 36px
    min-width: 0
    outline: 0
    position: relative
    width: 200px

    &:focus-visible
        .ui-select__current
            border-color: #777777

    &:hover
        .ui-select__current
            background-color: #c2c2c2

.ui-select--has-error
    .ui-select__current
        border-color: #ff2d55

.ui-select--opened
    .ui-select__current
        background-color: #c2c2c2
        border-color: #777777

    &:focus-visible
        .ui-select__current
            border-color: #ffffff

    .ui-select__options-wrapper
        box-shadow: 0 5px 6px 0 rgba(#000000, 0.1)
        opacity: 1

.ui-select--disabled
    pointer-events: none

    .ui-select__current
        background-color: rgba(#ffffff, 0.5)
        border-color: transparent
        color: #777777

.ui-select__icon
    color: #444444
    margin-left: -8px

.ui-select__current
    align-items: center
    background-color: #b1b1b1
    border-bottom: 2px solid #777777
    border-radius: 4px
    box-sizing: border-box
    cursor: pointer
    display: flex
    height: 36px
    position: relative
    transition-duration: 200ms
    transition-property: background-color, border-color

    .ui-select__label
        border-bottom: 0
        padding-right: 32px

.ui-select__options-wrapper
    background-color: #b1b1b1
    border-radius: 4px
    box-sizing: border-box
    opacity: 0
    overflow: hidden
    position: fixed
    transition: opacity 450ms ease-out
    z-index: 1

    .ui-select__current
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

    .ui-select__arrow
        transform: rotate(180deg)

.ui-select__options
    overflow-y: auto

.ui-select__option
    align-items: center
    border-bottom: 1px solid #777777
    box-sizing: border-box
    cursor: pointer
    display: flex
    flex-shrink: 0
    height: 32px
    outline: 0
    transition-duration: 200ms
    transition-property: background-color, color

    &:focus-visible
        color: #777777

    &:hover
        background-color: #c2c2c2

    &:last-child
        border-bottom: 0

    &--selected
        background-color: #c2c2c2
        font-weight: 700

    .ui-text-field
        width: 100%

    .ui-text-field__input
        background-color: transparent
        padding: 0

        &:focus-visible
            background-color: transparent

.ui-select__label
    align-items: center
    box-sizing: border-box
    display: flex
    height: 100%
    gap: 8px
    min-width: 0
    overflow: hidden
    padding: 0 8px 0 18px
    text-overflow: ellipsis
    white-space: nowrap
    width: 100%

    span
        min-width: 0
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    .ui-flag
        margin-left: -8px

.ui-select__clear,
.ui-select__arrow
    align-items: center
    color: #444444
    cursor: pointer
    display: flex
    height: 100%
    justify-content: center
    position: absolute
    right: 0
    top: 0
    width: 32px
